<!-- css 같은 모든 페이지에서 적용시킬 css들은 static 선언을 해준뒤 사용-->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin - Register</title>

<!-- Custom fonts for this template-->
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">


<!-- Custom styles for this template-->
<link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

</head>

<body class="bg-dark">
  <div class="container" >
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">회원가입</div>
      <div class="card-body">
        <form action= "/polls/signin/" method="POST"> {% csrf_token %} <!--토큰 보안을 위해 csrf 선언--> 
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" name="user_id" class="form-control" placeholder="id" required="required" autofocus="autofocus">
              <label for="id">회원번호(자동부여)</label>
            </div>                                      
          </div>
          <div class="form-group">
              <div class="form-label-group">
                  <input type="text" name="name" class="form-control" placeholder="name" required="required" autofocus="autofocus">
                  <label for="name">이름</label>
              </div>                                      
          </div>
          <div class="form-group">
              <div class="form-label-group">
                  <input type="password" name="pw" class="form-control" placeholder="Password" required="required">
                  <label for="inputPassword">Password</label>
              </div>  
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" name="birth" class="form-control" placeholder="Birthday" required="required">
              <label for="inputBirthday">생년월일</label>
            </div>  
          </div>
          <div class="form-group"> 성별
            <div class="form-row">            
              <div class="col-md-6">                
                  <div class="checkbox">
                      <label>
                        남
                        <input type="checkbox" name ="gender" value="M">                        
                      </label>
                  </div>                  
                </div>
              <div class="col-md-6">
                  <div class="checkbox">
                      <label>
                        여
                        <input type="checkbox" name ="gender" value="W">                        
                      </label>
                    </div>
              </div>    
           </div>
          </div> 
          <div class="form-group">
             <div class="form-label-group">               
               <select class="form-control" name="subject" required="required">              
                 <option value="1">1</option>
                 <option value="2">2</option>
                 <option value="3">3</option>
                 <option value="4">4</option>
                 <option value="5">5</option>
                 <option value="6">6</option>
                 <option value="7">7</option>
                 <option value="8">8</option>
                 <option value="9">9</option>               
               </select> 
              좋아하는 주제분류를 선택해주세요
              </div>
          </div>     
      
  
          <a class="btn btn-primary btn-block">회원가입</a>
        </form>
          <br></br>
          <a class="btn btn-primary btn-block">취소</a>
          <!-- <a class="d-block small mt-3" href="login.html">Login Page</a> -->
          <!-- <a class="d-block small" href="forgot-password.html">Forgot Password?</a> -->
        
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

</body>

</html>
